#choropleth_map { 
	margin: auto;
	/*height: 1000px;
	width: 800px;*/
}
body{
	background-color:beige;
}
h1{
	text-align: center;
}

p{
	text-align: center;
}

#page {
    width: 850px;
    background-color:beige;
    margin: auto;
    padding-top: 15px;
}

#small_font{
	font-size: 14px;
	color: grey;
	margin-bottom: 50px;
}

